{{ define "main" }}

{{"<!-- about agico -->" | safeHTML }}
{{ with .Params.about }}
{{ if .enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
        <div class="position-relative" data-aos="fade-right">
          <img src="{{ .video_bg_image | absURL }}" class="img-fluid rounded-sm" alt="videoThumbBg">
          {{ if and .video_thumbnail }}
          <div class="floating-video {{ if .video_link }}overlay{{end}} rounded-sm">
            <img src="{{ .video_thumbnail | absURL }}" class="img-fluid rounded-sm" alt="video-thumb">
            {{ if .video_link }}
            <a class="venobox play-icon icon-center" data-autoplay="true" data-vbtype="video"
              href="{{ .video_link }}">
              <i class="fa fa-play text-secondary bg-white rounded-circle"></i>
            </a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-md-6 align-self-center pl-lg-4">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
        <p data-aos="fade-up" data-aos-delay="400">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a class="btn btn-primary" href="{{ .link | absLangURL }}" data-aos="fade-up" data-aos-delay="600">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- about agico -->" | safeHTML }}

{{"<!-- counter -->" | safeHTML }}
{{ with .Params.funfacts }}
{{ if .enable }}
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark"><span class="counter" data-count="{{ .count }}">0</span>+</p>
        <h6 class="text-dark font-weight-normal">{{ .name }}</h6>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- counter -->" | safeHTML }}

{{"<!-- feature -->"| safeHTML}}
{{ with .Params.feature }}
{{ if .enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .title }}</h2>
      </div>
      {{ range $index, $element:= .feature_item }}
      {{ $delay := mul $index 200 }}
      <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="{{ $delay }}">
        <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded-lg shadow">
          <img src="{{ .image | absURL }}" class="img-fluid" alt="feature-image">
          <h5 class="pt-5 pb-3 card-title">{{ .title }}</h5>
          <p class="mb-4">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- feature -->"| safeHTML}}

{{"<!-- testimonial -->"| safeHTML}}
{{ with .Params.testimonial }}
{{ if .enable }}
<section class="section bg-shape-triangles">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .title }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider" data-aos="fade-up" data-aos-delay="200">
      {{ range .testimonial_item }}
      <div class="col-lg-4">
        <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
          <i class="fa fa-quote-right icon-quote mb-4 mx-auto"></i>
          <p class="mb-4">{{ .content | markdownify }}</p>
          <h4>{{ .name }}</h4>
          <span class="h6">{{ .designation }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- testimonial -->"| safeHTML}}

{{"<!-- download part start -->"| safeHTML}}
{{ with .Params.download }}
{{ if .enable }}
<section class="bg-triangles bg-gradient-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left">
        <div class="section">
          <h2 class="section-title text-white" data-aos="fade-up">{{ .title }}</h2>
          <p class="text-white mb-4" data-aos="fade-up" data-aos-delay="200">{{ .content | markdownify }}</p>
          <ul class="list-inline">
            <li class="list-inline-item mb-3 mb-lg-0">
              {{ with .playstore }}
              <a class="btn btn-white" href="{{ .link | safeURL }}" data-aos="zoom-in" data-aos-delay="400"><img src="{{`images/icon/google-play.png` | absURL }}" class="img-fluid mr-2" alt="">{{ .label }}</a>
              {{ end }}
            </li>
            <li class="list-inline-item">
              {{ with .appstore }}
              <a class="btn btn-outline-white" href="{{ .link | safeURL }}" data-aos="zoom-in" data-aos-delay="500"><i class="fab fa-apple fa-2x mr-2" style="vertical-align:-8px"></i>{{ .label }}</a>
              {{ end }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 align-self-end">
        <img src="{{ .image | absURL }}" class="img-fluid w-100" alt="mobile" data-aos="fade-left" data-aos-delay="600">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- download -->"| safeHTML}}

{{"<!-- pricing -->"| safeHTML}}
{{ with .Params.pricing }}
{{ if .enable }}
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {{ with site.GetPage (string .section) }}
        <p class="subtitle" data-aos="fade-up">{{ .Params.pricing.subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .Params.pricing.title }}</h2>
        {{ end }}
      </div>
      
      {{$show_items:= .show_items}}
      {{ with site.GetPage (string .section) }}

      {{ range $index, $element:= first ($show_items | default 3) .Params.pricing.pricing_table }}
      {{ $delay := mul $index 200}}
      <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="{{$delay}}">
        <div class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
          <span class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">{{ .title }}</span>
          <div class="h1 text-dark">{{ .price }}<span class="paragraph text-lowercase"> / {{ .unit }}</span></div>
          <h5 class="mb-4 font-weight-normal text-color">{{ .description }}</h5>
          <hr>
          <ul class="list-unstyled my-4">
            {{ range .services }}
            <li class="my-3">{{ . }}</li>
            {{ end }}
          </ul>
          <a href="{{ .link | safeURL }}" class="btn btn-outline-primary">Select Plan</a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{"<!-- pricing -->"| safeHTML}}
{{ end }}

{{ if .Params.service.enable }}
{{ with site.GetPage (string .Params.service.section)}}
{{ partial "services.html" . }}
<div class="section pt-0"></div>
{{ end }}
{{else}}
<div class="section-lg-bottom"></div>
{{ end }}

{{ end }}