*[data-aos-delay] {
    transition-delay: 0s !important;
}

footer {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: auto;
}

.download-bottom {
    position: relative;
    top: 225px;
}

.feature-image{
    width: 100%!important;
    height: auto;
}
/* .img-bottom {
    transform: scale(1.1);
} */
